.main
  - @books.each do |book|
    .content
      .content__book
        .content__book__topImage
          = "画像はありません" if book.bookimage.blank? 
          = image_tag book.bookimage.url, size:'157x222' if book.bookimage.present?
        .content__book__title
          = link_to "#{book.booktitle}", "/books/#{book.id}"
      .content__review
      - @reviews.find(book.id).each do |review|
        = review.title
  = paginate(@books)