- if flash[:notice]
  .alert.alert-success
    = flash[:notice]
- if flash[:alert]
  .alert.alert-danger
    = flash[:alert]
.side
  .contets_title
    = "新しい本を登録する" if @book.booktitle.blank?
  .contents__form
    = form_with model: @book, class: :form, local: true do |form|
      = form.text_field :booktitle, placeholder: :タイトル, class: :form__title
      = form.text_field :author, placeholder: :著者名, class: :form__author
      = form.label :bookimage, class: 'form__imageText' do
        書影をアップロードする
        = form.file_field :bookimage, class: :form__image
      = form.submit '投稿', class: :form__btn
.main