.side
  .side__head
    .side__head__users
      - if user_signed_in?
        = link_to "#{current_user.nickname}", "/users/#{current_user.id}"
      - else
  - if user_signed_in?
    .user__bookpost
      = link_to new_book_path do
        本を登録する
        <i class="fas fa-book"></i>
  - else
  .userPreviousPost
    最近の投稿
    - if @user_reviews.present?
      - @user_reviews.each do |review|
        %p
          .user__page__reviews__bookTitle
            = link_to "#{review.title}", "/books/#{review.book_id}"


